a{
    text-decoration: none;
    color: black;
}
body {
    background-color: #d4effd;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30000px;
    scroll-behavior: smooth;
    font-family: Roboto, Arial;
    font-size: 30px;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 12px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.scroll-to-top:hover {
    opacity: 0.8;
}
.scroll-icon{
    height: 50px;
    width: 50px;
}
.header {

    background-color: #bcf2ff;
    font-family: Roboto, Arial;
    font-size: 28px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: black 1px dotted;
    border-left: 1px dotted black;
    position: fixed;
    left: 120px;
    right: 0;
    z-index: 99;
}

.header-name {
    margin: 0 10px;
    font-weight: 700;
    color: black;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;


}

.bio-section {
    display: flex ;
    left: 120px;
    top: 130px;
    right: 0;
    position: absolute;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, Arial;
    line-height: 1.5;
    text-align: center;
    margin: 20px 50px
}
.bio-header{
    margin: 0;
}
.sidebar {
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a5e0fa;
    border-right: 1px black dotted;
    font-size: 24px;
    margin-top: 130px;

    z-index: 100;
}

.photo-holder {
    background-color: #a5e0fa;
    display: flex;
    height: 130px;
    width: 120px;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px dotted;

}

.profiel-foto {
    height: 100px;
    width: 100px;
    border-radius: 60px;
    transition: box-shadow 20ms, border 2ms, rotate 3s;

}
.profiel-foto:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .30);
}
.profiel-foto:active{
    box-shadow: 0 0 0 0;
    border: 5px #86b5ce solid;
    rotate: 360deg;

}

.sidebar-links a {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px dotted cadetblue; ;
    border-bottom: 1px dotted cadetblue;
    width: 120px;


    text-align: center;

}

.sidebar-links a:hover {
    background-color: #b8cfdc;
}

.left-icons {
    padding-top: 20px;
    height: 36px;
}

.link-names {
    margin-top: 7px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.bio-icons {
    margin-right: 5px;
    height: 24px;
}
.bio-photo{
    height: 160px;
    width: 160px;


}
.bio-photo img{
    height: 160px;
    width: 160px;
}
.bio-photo:hover{
    box-shadow: 0px 6px 12px rgba(111, 88, 131, 0.9);

}
.work-experience{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -20px;
    transition: transform .95s;
}

.work-item {

    background-color:#fbe9fe ;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px;
    margin: 0px 25px 20px 25px;
    align-items: center;
    line-height: 0;
    transform: scale(1.0);

}
.work-item img{
    border-radius: 25px;

}
.work-item:hover{
    box-shadow: 0px 6px 12px rgba(111, 88, 131, 0.9);
    background-color: rgb(196, 158, 227);
    cursor: pointer;

}
.social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    background-color: #fde2d4;
}
.social-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-box-instagram{
    background-image: linear-gradient(to top right, #f6cd02, #f51201, #934dc9);
    opacity: .8;
    margin: 0;
    border-top: 1px black solid;
    border-radius: 4px;
}

.social-box-youtube{
    background-image: linear-gradient(to left, #ff9999, #ff4a4a, #ff0000);
    opacity: .8;
    margin: 0;
    border-top: 1px black solid;
    border-radius: 4px;
    width: auto;
}




@media (min-width: 1650px) {
    .work-experience {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        transform: scale(.7);
    }
    .sidebar-inner img{
        transform: scale(2.0);
        padding-top: 20px;
    }
    .sidebar-inner a{
        margin-bottom: 50px;
    }
    .sidebar-inner p{
        transform: scale(1.4);
        padding: 20px 20px 0px 20px
    }

}

@media (max-width: 1650px) {
    .work-experience {
        transform: scale(.8);
        grid-template-columns: 1fr 1fr;

    }
    .sidebar-inner img{
        transform: scale(1.8);
    }
    .sidebar-inner a{
        margin-bottom: 70px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .sidebar-inner p{
        transform: scale(1.5);
        padding:    20px 20px 0px 20px

    }
    .bio-section p {
        font-size: 40px;
    }
    .company-logo{
        width: 550px;
    }
    .bio-header{
        padding-top: 80px;
    }
}
@media (max-width: 1080px) {
    .work-experience {
        transform: scale(.95);
        grid-template-columns: 1fr;
    }
    .sidebar-inner img{
        transform: scale(1.7);
    }
    .sidebar-inner a{
        margin-top:0px;
        margin-bottom: 80px;
    }
    .sidebar-inner p{
        transform: scale(1.5);
        padding-top: 20px;

    }
    .profiel-foto{
        transform: scale(1.15);
    }
    .bio-section p {
        font-size: 40px;
    }
    .company-logo{
        width: 550px;
    }
    .bio-header{
        padding-top: 80px;
    }

}

