body {
    background-color: #c3ecff;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30000px;
    scroll-behavior: smooth;
    font-family: Roboto, Arial;
    font-size: 30px;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.scroll-to-top:hover {
    opacity: 0.8;
}
.scroll-icon{
    height: 50px;
    width: 50px;
}
.header {
    background-color: #cbeef3;
    font-family: Roboto, Arial;
    font-size: 28px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #c5dbe7 1px dashed;
    position: fixed;
    left: 120px;
    right: 0;
    z-index: 100;
}

.header-name {
    margin: 0 10px;
    font-weight: 700;
    color: black;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;


}

.bio-section {
    display: flex ;
    left: 120px;
    top: 130px;
    position: absolute;
    margin: 0 100px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial;
    line-height: 1.5;
    text-align: center;
}
.sidebar {
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d5f2ff;
    border-right: #c5dbe7 1px dashed;
    font-size: 24px;
}

.photo-holder {
    display: flex;
    height: 130px;
    width: 120px;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-bottom: #c5dbe7 1px dashed;

}

.profiel-foto {
    height: 100px;
    width: 100px;
    border-radius: 60px;
    transition: box-shadow 20ms, border 2ms, rotate 3s;

}
.profiel-foto:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .30);
}
.profiel-foto:active{
    box-shadow: 0 0 0 0;
    border: 5px #86b5ce solid;
    rotate: 360deg;

}
.index-icon{
    margin-top: 130px;
}

.sidebar-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #c5dbe7 1px dashed;
    border-top: #c5dbe7 1px dashed;
    width: 120px;
    margin-bottom: 60px;
}

.sidebar-links a:hover {
    background-color: #b8cfdc;
}

.left-icons {
    padding-top: 5px;
    height: 36px;
}

.link-names {
    margin-top: 7px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.bio-icons {
    margin-right: 5px;
    height: 24px;
}